# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [ ]:
##1
int={1,2,3,4,5,6,7,8,9,10}
print(int)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [3]:
##2
int.add(11)
int.discard(1)
print(int)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [4]:
##3
set1={1,2,3,4,5}
set2={4,5,6,7,8}
union=set1.union(set2)
intersection=set1.intersection(set2)
difference=set1.difference(set2)
symmetric=set1.symmetric_difference(set2)

print(union)
print(intersection)
print(difference)
print(symmetric)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

In [8]:
##4
set1={i**2 for i in range(1,10)}
print(set1)

{64, 1, 4, 36, 9, 16, 49, 81, 25}

In [31]:
del(set)

In [32]:
##5
s = set(range(1, 11))
print(s)
y={i for i in s if i%2==0}
print(y)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 4, 6, 8, 10}

In [33]:
##6
s = {1, 2, 2, 3, 4, 4, 5}
unique_s = set(s)
print(unique_s)

{1, 2, 3, 4, 5}

In [37]:
##7
del(set1)
del(set2)
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
subset=set1.issubset(set2)
print(subset)

superset=set1.issuperset(set2)
print(superset)

False
False

In [ ]:
##8
fs = frozenset(range(1, 6))
print(fs)
##Unlike a normal set, once created, its elements cannot be changed, added, or removed.

frozenset({1, 2, 3, 4, 5})

In [49]:
##9

set1=set(range(1,6))
print(set1)
lst=list(set1)
lst.append(6)
set1=set(lst)
print(set1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

In [ ]:
##10

In [ ]:
##11
s = set(range(1, 6))
for elem in s:
    print(elem)

In [57]:
##12
set11={1,2,3,4,5,6,7,8,9}

for i in range(1,len(set11)+1):
    set11.remove(i)

print(set11)

set()

In [58]:
##13
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 4, 5}

In [60]:
##14
set={1,2,3,4,5,6}

for i in set:
    if(i==2):
      print("true")

true